.grid {
    position: absolute;
    top: 8vh;
    width: var(--full-width);
    height: var(--full-width);
    border: 1px solid var(--blue);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}