.header {
    width: var(--full-width);
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    width: var(--full-width);
    justify-items: center;
    align-content: center;
    min-width: var(--min-app-width);
}