.infopanel {
    left: 50%;
    min-width: 100px;
    outline: 5px solid var(--blue);
}

.infopanel>span {
    align-self: center;
    font-size: 14px;
}

.infopanel>h4 {
    align-self: flex-start;
    margin-top: 0px;
}

.infopanel>Button {
    align-self: flex-end;
}