.popup {
    position: absolute;
    z-index: 1;
    width: 300px;
    height: min-content;
    background: white;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto auto auto auto;
    box-shadow: var(--popup-box-shadow);
    border-radius: 5px;
    outline: 5px solid var(--red);
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.popup>Button {
    align-self: flex-end;
    margin-right: 0px;
}