.path {
    background: var(--white);
}

.square {
    outline: 1px solid var(--blue);
    /* position: relative; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.wall {
    transition-duration: 0.05s;
    background: var(--wall);
    outline: none;
}

.solpath {
    background: var(--purple);
    outline: none;
    /* border-radius: 5px; */
}

.inner {
    /* top: 0px; */
    width: 50%;
    height: 50%;
    /* background: black;
    position: absolute; */
}