:root {
    --border-radius: 10px;
}

.square-path {
    background: var(--white);
}

.square {
    outline: 1px solid var(--blue);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5%;
    height: 5%;
}

.square-wall {
    transition-duration: 0.05s;
    background: var(--wall);
    outline: none;
}

.square-left {
    background: var(--purple);
    margin-right: auto;
    width: 75%;
    height: 50%;
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}

.square-right {
    background: var(--purple);
    margin-left: auto;
    width: 75%;
    height: 50%;
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
}

.square-top {
    background: var(--purple);
    align-self: flex-start;
    width: 50%;
    height: 75%;
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}

.square-bottom {
    background: var(--purple);
    align-self: flex-end;
    width: 50%;
    height: 75%;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}

.square-top-bottom {
    background: var(--purple);
    width: 50%;
    height: 100%;
}

.square-left-right {
    background: var(--purple);
    width: 100%;
    height: 50%;
}

.square-grid {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-rows: 25% 25% 25% 25%;
    grid-template-columns: 25% 25% 25% 25%;
}

.square-grid-right {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 4;
    background: var(--purple);
}

.square-grid-center {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
    background: var(--purple);
}

.square-grid-left {
    grid-column-start: 0;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4;
    background: var(--purple);
}

.square-grid-top {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 0;
    grid-row-end: 2;
    background: var(--purple);
}

.square-grid-bottom {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
    background: var(--purple);
}

.square-image {
    width: 100%;
    height: 100%;
}