.path {
    background: var(--white);
}

.square {
    outline: 1px solid var(--blue);
    display: flex;
    justify-content: center;
    align-items: center;
}

.wall {
    transition-duration: 0.05s;
    background: var(--wall);
    outline: none;
}

.solpath {
    background: var(--purple);
    outline: none;
}

.inner {
    width: 50%;
    height: 50%;
}