.container {
    height: 90vh;
    width: 100vw;
    display: grid;
    grid-template-rows: min-content auto;
    row-gap: 10px;
    justify-items: center;
    min-width: var(--min-app-width);
    position: relative;
}