@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* Variables */
:root {
    --full-width: 90vmin;
    --button-width: 20vmin;
    --white: #FFFFFF;
    --blue: #ADC6FF;
    --green: #0EAD69;
    --red: #D7816A;
    --purple: #2F6690;
    --wall: #DCC656;
}

/* :root {

} */

/* Global Styles */

body {
    font-family: 'Montserrat', sans-serif;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Global Classes */

